<div class="container_big-card">
  <div class="big-card_photo">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUA95kIMbGxExXDuasTxCLqEkJez97HnPg0w&usqp=CAU"
alt=""
height="240px"
width="380px"
 srcset=""
 >

  </div>
  <a href="https://www.disneyplus.com/pt-br/movies/avatar-o-caminho-da-agua/6hlsDJnhiU30">
  <div class="big-card_title">
<h1>Avatar</h1>

  </div>
</a>
  <div class="big-card_description">
<p>Avatar foi um marco enorme quando foi lançado em 2009,
   por causa de seus efeitos visuais revolucionários e tecnologia inovadora em 3D na época,
    que mudou a maneira como os filmes eram feitos e levou multidões aos cinemas mundiais
     – fazendo com que,
  atualmente, ele tenha a maior bilheteria de todos os tempos. </p>

  </div>
</div>
