<div class="container_small-card">
  <div class="small-card_photo">
    <img src="https://lumiere-a.akamaihd.net/v1/images/1_avtr-226_ec8e6081.jpeg?region=0,0,3840,2160"
    alt=""
    height="240px"
    width="380px"
     srcset=""
     >

      </div>
      <a href="https://gshow.globo.com/tudo-mais/pop/noticia/avatar-o-caminho-da-agua-veja-quem-sao-os-atores-por-tras-dos-personagens-de-pandora.ghtml">
      <div class="small-card_title">
    <h1>Os personagens de Avatar</h1>

      </div>
    </a>

</div>
<hr>
