
<header>
<app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container_articles">
<div class= "articles_main">
<app-big-card
PhotoCover="https://lumiere-a.akamaihd.net/v1/images/a_avatarpandorapedia_omatikaya_16x9_1098_13_f0fe224a.jpeg?region=0,0,1920,1080"
cardTitle="Avatar"
cardDescription="A franquia Avatar de James Cameron é uma série planejada de filmes de ficção científica produzidos pela Lightstorm Entertainment e distribuídos pela 20th Century Studios, bem como jogos de computador associados e passeios de parque temático."></app-big-card>
</div>
<div class= "articles_others">

<app-small-card
PhotoCover="https://lumiere-a.akamaihd.net/v1/images/1_avtr-226_ec8e6081.jpeg?region=0,0,3840,2160"
CardTitle="Neytiri e Jake"></app-small-card>
<app-small-card
PhotoCover="https://lumiere-a.akamaihd.net/v1/images/avatar_6db4410f.jpeg?region=0,0,1280,511"
CardTitle="Ronal"></app-small-card>
<app-small-card
PhotoCover="https://staticg.sportskeeda.com/editor/2023/01/5398f-16741387969856-1920.jpg"
CardTitle="Neteyam"
></app-small-card>

</div>
</div>

