<div class="container_menu-bar">
  <ul>
   <li><a href="https://www.adorocinema.com/filmes/filme-61282/">
    Filmes</a></li>
    <li><span>*</span></li>
   <li><a href="https://www.google.com/search?q=avatar+filme+imagens&client=firefox-b-d&sca_esv=9928f787bd8332ef&sxsrf=ACQVn0-Y3vKMIRcP96hZRGdcMO3qRJc5sw%3A1708616900243&ei=xGzXZaSYDtbm1sQPlLOigAk&udm=&oq=avatar+filme+imagens&gs_lp=Egxnd3Mtd2l6LXNlcnAiFGF2YXRhciBmaWxtZSBpbWFnZW5zKgIIADIFEAAYgARIpWtQ2QNY7F9wBngAkAEAmAHRAqABmRyqAQgwLjIuMTAuM7gBAcgBAPgBAcICChAAGEcY1gQYsAPCAg0QABiABBiKBRhDGLADwgIOEAAY5AIY1gQYsAPYAQHCAhMQLhiABBiKBRhDGMgDGLAD2AECwgITEC4YQxiABBiKBRjIAxiwA9gBAsICDxAjGIAEGIoFGCcYRhj7AcICCxAuGIMBGLEDGIAEwgIIEC4YsQMYgATCAg4QABiABBiKBRixAxiDAcICChAAGIAEGIoFGEPCAggQABiABBixA8ICGRAAGIAEGIoFGEYY-wEYlwUYjAUY3QTYAQPCAgQQIxgnwgIKECMYgAQYigUYJ8ICCxAAGIAEGLEDGIMBwgIIEC4YgAQYsQPCAhoQLhiDARixAxiABBiXBRjcBBjeBBjgBNgBBMICBhAAGBYYHsICCBAAGBYYHhgKiAYBkAYTugYGCAEQARgJugYGCAIQARgIugYGCAMQARgTugYGCAQQARgU&sclient=gws-wiz-serp">
    Imagens</a></li>
    <li><span>*</span></li>
   <li><a href="https://www.google.com/search?q=assistir+avatar+2&client=firefox-b-d&sca_esv=9928f787bd8332ef&sxsrf=ACQVn08VyG3jqYUxM8IzTWuzIaSJqYEL8A%3A1708616967403&ei=B23XZcqBGNLR1sQP1e-viAM&udm=&oq=avatar&gs_lp=Egxnd3Mtd2l6LXNlcnAiBmF2YXRhcioCCAIyChAjGIAEGIoFGCcyChAjGIAEGIoFGCcyBBAjGCcyChAuGIAEGIoFGEMyCxAuGIAEGLEDGIMBMgsQLhiDARixAxiABDILEC4YgwEYsQMYgAQyEBAuGEMYgwEYsQMYgAQYigUyCxAuGIMBGLEDGIAEMgsQABiABBixAxiDAUj_HVDqCFioEHABeAGQAQCYAeUBoAG_CaoBBTAuMy4zuAEByAEA-AEBqAISwgIHECMY6gIYJ8ICFBAAGIAEGOMEGOkEGOoCGLQC2AEBwgIREC4YgAQYsQMYgwEYxwEY0QPCAhAQLhiABBiKBRhDGLEDGIMBwgIOEC4YgwEYsQMYgAQYigXCAgoQLhhDGIAEGIoFwgIOEC4YgAQYigUYsQMYgwG6BgYIARABGAE&sclient=gws-wiz-serp&si=AKbGX_ruq5l0gTCJWKTbeFb72SGQMhmcauPI1gw1X4xAw9htM5GZrEpNfQOquNmgV_Bb5wJIWGITrXp1cFUdcpk2DNUMfWC08lLpAIL6o6DkjuQmHQfPtPyV1YKgyD8etHgN3kjpNO3N&ictx=1&ved=2ahUKEwivt9arpr-EAxXXqJUCHamdCr8QyNoBKAB6BAgSEAA">

   </a>Assistir</li>
  </ul>
</div>
